body
{
	padding-left:4px;
}

h1
{
	font-size:20px;
	text-align:center;
}

h2
{
	font-size:14px;
}

.h3
{

}

.destination, .destination-map
{
	border-top: 1px solid navy;
}

.times
{
	width: 50vw;
}

.snowreports
{
	display: flex;
	flex-direction: column;
	width: 50vw;
	align-items: center;
}

.windMap
{
	
}