	h1
	{
		margin-top:10px;
		margin-bottom:10px;
	}
	
	h2
	{
		margin-top:7px;
		margin-bottom:7px;
	}
	
	h3
	{
		padding-left:5px;
		margin-top:5px;
		margin-bottom:5px;
	}
	
	img
	{
		vertical-align:middle;
		margin-left:5px;
		margin-right:5px;
	}
	
	#outer
	{
		margin-top:   35px;
		width: 100%
	}
		
	iframe
	{
		border: 0px;
	}	

	iframe.snowreportframe
	{
		height:116px;	
		width:316px;
	}
	
	.times
	{
		min-width:275px;
		margin-bottom:8px;
	}
	
	.flightTime, .boardTime, .maps
	{
		padding-left:10px;
	}
	
	.pastEvent
	{
		height:52px;
	}
	
	.snowreports 
	{
	    height: 100%;
	    display: flex;
	    justify-content: column;
	    flex-direction: column;
	    align-items: center;
	}

	.snowreport
	{
		padding-left:20px;
		padding-right:20px;
		vertical-align:middle;
	}		
	
	.destination, .destination-map
	{
		border-top: 1px solid navy;
		height:200px;
		padding-left:20px;
		clear:both;
		padding-bottom:15px;
    	flex-direction: row;
	}
	
	.destination-map
	{
		height:450px;
	}
			
	.maps span, .webcams span
	{
		padding-right:4px;
	}
	
	div.time
	{
		padding-left:10px;
	}
	
	#updateArea
	{
		float:left;
	}
	
	#snowReportArea
	{
		float:left;
		padding-left:30px;
	}	
	
	.webcams
	{
		padding-left :10px
	}
	
	.windMap
	{
		 padding: 10px;
		 width: 50vw;
	}

	iframe.windMapFrame
	{
		margin-left: 10px;
		margin-right: 10px;
	}
	